{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/admin_layout.html.twig' %}

{% block title %}{{ 'admin_accounts.details.meta.title'|trans({'%name%':account.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_list') }}">{{ 'admin_accounts.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_accounts.details.breadcrumb'|trans({'%name%':account.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <h1 class="h3">{{ 'admin_accounts.details.title'|trans({'%name%': account.name}) }}</h1>
            <div>
                {% block actions %}
                    {% if is_granted('ROLE_ADMIN_ACCOUNTS_UPDATE', account) %}
                        <a href="{{ url('sfs_account_admin_accounts_update', {'account':account}) }}" class="btn btn-outline-secondary">{{ 'admin_accounts.details.actions.edit'|trans }}</a>
                     {% endif %}
                    {% if is_granted('ROLE_ADMIN_ACCOUNTS_DELETE', account) %}
                        <a href="{{ url('sfs_account_admin_accounts_delete', {'account':account}) }}" class="btn btn-outline-danger">{{ 'admin_accounts.details.actions.delete'|trans }}</a>
                     {% endif %}
                {% endblock actions %}
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ account.name }}</h2>

                    {% block account_fields %}
                        {#<p><strong>{{ 'admin_accounts.details.fields.id'|trans }}:</strong> {{ account.id }}</p>#}
                        <p><strong>{{ 'admin_accounts.details.fields.name'|trans }}:</strong> {{ account.name }}</p>
                        <p><strong>{{ 'admin_accounts.details.fields.owner'|trans }}:</strong>
                            {% if route_defined('sfs_user_admin_users_details') %}
                                <a href="{{ url('sfs_user_admin_users_details', {'user':account.owner}) }}">{{ account.owner.displayName }}</a>
                            {% else %}
                                {{ account.owner.displayName }}
                            {% endif %}
                        </p>
                    {% endblock account_fields %}
                    </div>
                </div>
            </div>

            <div class="col">
                {% block account_cards %}
                    {% include '@SfsAccount/admin/accounts/details_users.html.twig' %}
                {% endblock account_cards %}
            </div>
        </div>
    </div>
{% endblock content %}
