{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/admin_layout.html.twig' %}

{% block title %}{{ 'admin_accounts.details.meta.title'|trans({'%name%':account.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_list') }}">{{ 'admin_accounts.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_accounts.details.breadcrumb'|trans({'%name%':account.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_accounts.details.title'|trans({'%name%': account.name}) }}</h1>

    <div class="text-right">
        <a href="{{ url('sfs_account_admin_accounts_update', {'account':account}) }}" class="btn btn-outline-secondary">{{ 'admin_accounts.details.actions.edit'|trans }}</a>
        <a href="{{ url('sfs_account_admin_accounts_delete', {'account':account}) }}" class="btn btn-outline-secondary">{{ 'admin_accounts.details.actions.delete'|trans }}</a>
    </div>

    <p><strong>{{ 'admin_accounts.details.fields.slug'|trans }}:</strong> {{ account.id }}</p>
    <p><strong>{{ 'admin_accounts.details.fields.name'|trans }}:</strong> {{ account.name }}</p>
    <p><strong>{{ 'admin_accounts.details.fields.owner'|trans }}:</strong>
        {% if route_defined('sfs_user_admin_users_details') %}
            <a href="{{ url('sfs_user_admin_users_details', {'user':account.owner}) }}">{{ account.owner.username }}</a>
        {% else %}
            {{ account.owner.username }}
        {% endif %}
    </p>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Users</h4>
                </div>
                <div class="card-body">
                    {% if account is instanceof('Softspring\\AccountBundle\\Model\\MultiAccountedAccountInterface') %}
                        <ul>
                        {% for relation in account.relations %}
                            <li>
                                {% if route_defined('sfs_user_admin_users_details') %}
                                    <a href="{{ url('sfs_user_admin_users_details', {'user':relation.user}) }}">{{ relation.user.username }}</a>
                                {% else %}
                                    {{ relation.user.username }}
                                {% endif %}

                                {% if relation.grantedBy is defined and relation.grantedBy != relation.user %}
                                    (granted by {{ relation.grantedBy.username }})
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}