{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/admin_layout.html.twig' %}

{% block title %}{{ 'admin_accounts.list.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_accounts.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_accounts.list.title'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN_ACCOUNTS_CREATE') %}
            <a href="{{ url('sfs_account_admin_accounts_create') }}" class="btn btn-primary">{{ 'admin_accounts.list.actions.create.link'|trans }}</a>
        {% endif %}
    </div>

    <div class="container-fluid bg-white p-4">
        {% if filterForm.vars.submitted or accounts|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="d-flex align-items-center">
                    {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name, {'row_class':'form-floating mb-3'}) }}</div>{% endif %}
                    {% if filterForm.owner is defined %}<div class="col">{{ form_row(filterForm.owner, {'row_class':'form-floating mb-3'}) }}</div>{% endif %}
                    {% if filterForm.search is defined %}<div class="col">{{ form_row(filterForm.search, {'row_class': 'form-floating mb-3'}) }}</div>{% endif %}
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% block content_table %}
        {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':accounts, 'pagination_route': 'sfs_account_admin_accounts_list'} %}
            {% trans_default_domain 'sfs_account' %}
            {% block ths %}
                <th scope="col">
                    <a href="{{ accounts.sortToggleUrl(app.request, 'name') }}" class="text-dark">
                        {{ 'admin_accounts.list.fields.name.header'|trans }}
                        {% if accounts.sortedBy('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif accounts.sortedBy('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                    </a>
                </th>

                <th scope="col">{{ 'admin_accounts.list.fields.owner.header'|trans }}</th>
                <th>&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include '@SfsAccount/admin/accounts/list-page.html.twig' %}
            {% endblock tbody %}

            {% block empty %}
                <div class="p-5 text-center">
                    <p>
                        {% if filterForm.vars.submitted %}
                            {{ 'admin_accounts.list.no_matches'|trans }}
                        {% else %}
                            {{ 'admin_accounts.list.empty'|trans }}
                        {% endif %}
                    </p>
                    {% if is_granted('ROLE_ADMIN_ACCOUNTS_CREATE') %}
                        <a class="btn btn-link" href="{{ url('sfs_account_admin_accounts_create') }}">Create first account</a>
                    {% endif %}
                </div>
            {% endblock empty %}
        {% endembed %}
        {% endblock content_table %}
    </div>
{% endblock content %}
