{% trans_default_domain 'sfs_account' %}

{% for account in collection %}
    <tr>
        <td class="p-3">{{ account.id }}</td>
        <td class="p-3">{{ account.name }}</td>
        <td class="p-3">{{ account.owner.username }}</td>
        <td class="p-3">
            <a href="{{ url('sfs_account_admin_accounts_details', {'account': account}) }}">{{ 'admin_accounts.list.actions.details.link'|trans }}</a>
        </td>
    </tr>
{% endfor %}