{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/admin_layout.html.twig' %}

{% block title %}{{ 'admin_accounts.update.meta.title'|trans({'%name%':account.name}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_list') }}">{{ 'admin_accounts.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_details', {'account':account}) }}">{{ 'admin_accounts.details.breadcrumb'|trans({'%name%':account.name}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_accounts.update.breadcrumb'|trans({'%name%':account.name}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-4">{{ 'admin_accounts.update.title'|trans({'%name%': account.name}) }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col bg-white p-5">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <a href="{{ url('sfs_account_admin_accounts_details', {'account':account}) }}" class="btn btn-outline-secondary">{{ 'admin_accounts.update.actions.cancel'|trans }}</a>
                <button class="btn btn-primary">{{ 'admin_accounts.update.actions.update.button'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}