{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/register_layout.html.twig' %}

{% block title %}{{ 'register.meta.title'|trans }}{% endblock %}

{% block content %}
    <div class="bg-white p-5" style="width: 450px">
        <h1 class="h4 mb-3 fw-normal">{{ 'register.title'|trans }}</h1>

        {{ form_start(register_form) }}
            {{ form_rest(register_form) }}
            <button class="btn btn-primary btn-block">{{ 'register.actions.register.button'|trans }}</button>
        {{ form_end(register_form) }}
    </div>
{% endblock content %}