{% trans_default_domain 'sfs_account' %}
{% extends '@SfsAccount/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_list') }}">Accounts</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_account_admin_accounts_details', {'account':account}) }}">{{ account.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit account</li>
{% endblock breadcrums_content %}

{% block content %}
    <h2>{{ account.name }}</h2>

    <div class="text-right">
        <a href="{{ url('sfs_account_admin_accounts_details', {'account':account}) }}" class="btn btn-outline-secondary">{{ 'admin_accounts.update.actions.cancel'|trans }}</a>
    </div>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="{{ 'admin_accounts.update.actions.update.button'|trans }}" class="btn btn-primary btn-block" />
    {{ form_end(form) }}


{% endblock content %}